<section class="section section-login">
    <div class="container">
        <div class="row">
            <div class="col s12 m8 offset-m2 l6 offset-l3">
                <div class="card-panel login blue darken-2 white-text center">
                    <h2>Admin Login</h2>
                    <form action="/admin/login" method="POST">
              <div class="input-field">
                  <i class="material-icons prefix">email</i>
                <input type="email" id="email" name="email">
                <label class="white-text" for="email">Email</label>
              </div>
              <div class="input-field">
                <i class="material-icons prefix">lock</i>
                <input type="password" id="password" name="password">
                <label class="white-text" for="password">Password</label>
            </div>
            <input type="submit"  class="btn btn-large btn-extended grey lighten-4 black-text" name="submit"> 
            </form>
          </div>
        </div>
      </div>
    </div>
</section>